MagicalBaba.Desktop/bin/
MagicalBaba.Desktop/obj/
MagicalBaba.DesktopInstaller/bin/
MagicalBaba.DesktopInstaller/obj/
MagicalBabaCross/MagicalBaba.Core/obj/
MagicalBabaCross/MagicalBaba.Desktop/obj/
MagicalBaba.BaseLibrary/obj/
MagicalBabaCross/MagicalBaba.BaseLibrary/obj/
MagicalBabaCross/packages/
MagicalBabaCross/MagicalBaba.Core/bin/
MagicalBabaCross/MagicalBaba.Desktop/bin/
MagicalBabaCross/MagicalBaba.DesktopInstaller/bin/
MagicalBabaCross/MagicalBaba.DesktopInstaller/obj/
