<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MagicalBaba" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MagicalBabaShortcuts" Name="MagicalBaba" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>
	</Fragment>
</Wix>